{% extends "base.html" %}

{% block title %}{% endblock %}

{% block sidebar %}
<nav class="sidebar">
    <div class="sidebar-inner">
        {% for menu in book.sidebar.menu %}
        <a href="{{ menu.url }}" class="sidebar-item {% if menu.collapsed %}sidebar-item--active{% endif %}">
            {{ menu.name }}
            {% if !menu.children.is_empty() %}
            <div class="sidebar-menu2">
                {% for sub in menu.children %}
                <a href="{{ sub.url }}.html" class="sidebar-menu2-item">{{ sub.name }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</nav>
{% endblock %}



{% block content %}
{{ self.generate_html()|safe }}
{% endblock %}

