{% macro render_menu(menu_items) %}
<ul class="sidebar__nav">
  {% for item in menu_items %}
    <li class="sidebar__item {% if item.active %}sidebar__item--active{% endif %}">
      <a href="{{ item.url }}" class="sidebar__link">{{ item.title }}</a>
      {% if item.children %}
        {{ render_menu(item.children) }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endmacro %}

{% block sidebar_content %}
<nav class="sidebar__container">
  {{ render_menu(menu_items) }}
</nav>
{% endblock %}